body {
    background-color:  rgb(80, 99, 85);
    text-align: center;
    margin-right: 350px;
    margin-left: 350px;
}
h2 {
    color: white;
}

#screen {   
    
    
}

@keyframes scale {
    from {
        opacity: 0;
       
    }
    to {
        opacity: 1;
    }
}
.words {
    cursor: pointer;
    animation: scale 1s ease-in;

}

.difficulty {
    cursor: pointer;

}


.instructions {
    color: rgb(255, 255, 255);
}